{% extends "basic.html" %}
{% load static %}

{% block title %}
Education
{% endblock title %}

{% block body2 %}
<!-- education section start -->
<section class="services" id="services">
    <div class="max-width">
        <h2 class="title">My education</h2>
        <div class="serv-content">
            <div class="card">
                <div class="box">
                    <i class="fas fa-long-arrow-alt-right"></i>
                    <div class="text">O-Levels | 06/2019</div>
                    <p>Mathematics & Computer Science <br/>Lahore Grammar School <br/> Lahore, Pakistan</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-long-arrow-alt-right"></i>
                    <div class="text">A-Levels | 06/2021</div>
                    <p>Mathematics & Computer Science <br/> Lahore Grammar School <br/>Lahore, Pakistan</p>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fas fa-long-arrow-alt-right"></i>
                    <div class="text">BSCS | Present</div>
                    <p>University of <br/> Management & Technology <br/>Lahore, Pakistan</p>
                </div>
            </div>
           </div>
        </div>
    </div>
</section>
{% endblock body2 %}