{% extends "basic.html" %}

{% block title %}
Xain's Portfolio Website
{% endblock title %}

{% block hero %}
    <!-- home section start -->
    <section class="home" id="home">
        <div class="max-width">
            <div class="home-content">
                <div class="text-1">Hello, my name is</div>
                <div class="text-2">Muhammad Xain Ahmad</div>
                <div class="text-3">And I'm a <span class="typing"></span></div>
                <a href="https://github.com/mXainAhmad" target="_blank">Hire me</a>
            </div>
        </div>
    </section>
{% endblock hero %}