{% extends "basic.html" %}
{% load static %}

{% block title %}
Skills
{% endblock title %}

{% block body2 %}
<!-- skills section start -->
<section class="skills" id="skills">
    <div class="max-width">
        <h2 class="title">My skills</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">My creative skills & experiences.</div>
                <p>Driven by a passion for innovation and fueled by diverse experiences, I bring a versatile skill set to the table. Proficient in HTML, CSS, JavaScript, PHP, and MySQL, I weave together code and creativity to craft immersive digital experiences. Whether it's building responsive websites, implementing dynamic functionalities, or architecting robust databases, my dedication to excellence shines through in every project. With a keen eye for design and a knack for problem-solving, I thrive in turning ideas into impactful solutions that captivate audiences and drive engagement.</p>
                <a href="https://github.com/mXainAhmad" target="_blank"">Read more</a>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="info">
                        <span>HTML</span>
                        <span>90%</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>CSS</span>
                        <span>60%</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>JavaScript</span>
                        <span>80%</span>
                    </div>
                    <div class="line js"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>PHP</span>
                        <span>50%</span>
                    </div>
                    <div class="line php"></div>
                </div>
                <div class="bars">
                    <div class="info">
                        <span>MySQL</span>
                        <span>70%</span>
                    </div>
                    <div class="line mysql"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body2 %}